.root {
  padding: 10px;
  margin: 10px;
}

.game {
  display: flex;
  justify-content: center;
}

.formRoot {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form {
  margin: 10px;
  width: 90%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 10px;
}

.mapdiv {
  min-height: 95vh;
  aspect-ratio: 1;
}

.map {
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(142, 142, 142);
  background-color: lightgrey;
  max-height: 95vh;
}

.cheat {
  margin: 10px;
  background-color: lightcoral;
}

.statBox {
  /* border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: black; */
}

.stat {
  font-size: 2rem;
}

.scoreText {
  color: rgb(120, 120, 120);
  margin-bottom: 5px;
  font-size: 1rem;
}

.score {
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}
